input {
    width: 1001px;
    height: 96px;
    left: 219px;
    top: 334px;

    background: #5B98B3;
    border-radius: 71px;
    margin: 40px;
    font-size: 30px;
    padding-left: 30px;
    color: white;
    

}

::placeholder {
    color: white;
    padding-left: 30px;
}

h1 {
    font-size: 100px;
}

button {
    color: white;
    font-size: 30px;
    width: 300px;
    height: 100px;
    left: 287px;
    top: 752px;

    background: #00337C;
    box-shadow: 0px 10px 62px rgba(0, 0, 0, 0.25);
    border-radius: 73px;
    
}

body {
    background-color: #C7FFED;
}